

.home{
  margin:2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:purple
}
@media (min-width:1000px){
  li .active{
    border-top:4px solid rgb(202, 202, 5) ;
  
  }
}
.paragraph{
  background-color:mediumseagreen;
  border-radius: 20px;
  box-shadow: .5rem .5rem 2rem rgb(104, 95, 95);
  color:white;
}

.line{
  margin:1rem 0;
  padding:.1rem;
  background-color: rgb(75, 235, 12);
}
.card:hover{
opacity:0.8 ;
box-shadow:.5rem .5rem 1rem gray ;
padding:.1em;
}
@media (max-width:600px){
  li {
  padding:.5rem 0;
  text-align: center;
}
}
